@tailwind base;
@tailwind components;
@tailwind utilities;

.prose.figure, .prose.img, .prose.video {
    margin-top: 0em;
    margin-bottom: 0em;
}

.xl\:prose-xl.figure, .xl\:prose-xl.img, .xl\:prose-xl.video {
    margin-top: 0em;
    margin-bottom: 0em;
}